<%- include ("templates/cabecera", {tituloweb: 'Detalle de mascota'}) %>

    <div class="container">

        <h1>Detalle Mascota</h1>

        <% if (error) { %>
            <p>
                <%=mensaje%>
            </p>
            <a href="/mascotas" class="btn btn-dark form-control"> Volver a Mascotas</a>
        <% } %>


        <% if (!error) { %>

            <form id="formularioEditar" data-id="<%= mascota.id%>">

                <input type="text" class="form-control my-2" name="nombre" value="<%=mascota.nombre %>">
                <input type="text" class="form-control my-2" id="descInput" name="descripción" value="<%=mascota.descripcion %>">
                <button class="btn btn-warning btn-block mt-2" type="submit">Editar</button>
               
                <button id="btnEliminar" class="btn btn btn-success btn-block mt-2"  data-id="<%= mascota.id%>">Eliminar</button>



            </form>
           
         
        <% } %>

      </div>

    
<%- include ("templates/footer") %>


 <script>



const btnEliminar=document.querySelector('#btnEliminar');
btnEliminar.addEventListener('click', async () =>{

    const id=btnEliminar.dataset.id

        try{
            const data= await fetch (`/mascotas/${id}`, {method: 'delete'}) 
                
            

            const res=await data.json()

            if (res.estado){
                window.location.href= '/mascotas'
                console.log(res)


                }else{
                    console.log(res)
                }

               

        }catch (error){
            console.log(error)


        }
})

</script> 
 
<script>
const formEditar=document.querySelector('#formularioEditar');

formEditar.addEventListener('submit', async (e) =>{
    e.preventDefault()
    const nombre= formEditar.elements['nombre'].value
    const descripcion= document.querySelector('#descInput').value
    const id=formEditar.dataset.id

    try{
        const data = await fetch (`/mascotas/${id}`, {

                method: 'put',
                headers:{
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify ({nombre, descripcion})
        })
        const res=await data.json()
        console.log(res)
        if (res.estado){
            window.location.href= '/mascotas'


        }else{
            console.log(res)
        }

    }catch(error){
        console.log(error)



    }
   
})


 </script>     
           

            
    
           